# Data and model weights
data/
MolScanner/models/
MolScribe-main/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.venv/
env/
venv/
.vscode/settings.json
